In [1]:
import numpy as np
import pandas as pd
import re
from datetime import datetime
from sqlalchemy import create_engine, text
import pandas as pd

In [ ]:
# 유동주식데이터 가져오기

data2_df = pd.read_csv('./20240105기준회사정보2.csv',header=[0,1,2])
data2_df = data2_df.drop(data2_df.iloc[0].name)
# 현재 인덱스를 'DatetimeIndex'로 변환
data2_df.index = pd.to_datetime(data2_df.index)
# 날짜 형식을 'YYYYMMDD'로 변경
data2_df.index = pd.to_datetime(data2_df.index, format='%Y%m%d')
df1 = data2_df.T.reset_index()
df2 = df1.drop(['level_0','level_2'],axis=1)
df3 = df2.T

C:\Users\whdgu\AppData\Local\Temp\ipykernel_30288\1932204643.py:3: DtypeWarning: Columns (117,118,120,189,190,192,365,366,368,381,382,384,385,386,388,389,390,392,393,394,396,397,398,400,461,462,464,465,466,468,469,470,472,609,610,612,673,674,676,753,754,756,785,786,788,973,974,976,1069,1070,1072,1209,1210,1212,1245,1246,1248,1249,1250,1252,1253,1254,1256,1257,1258,1260,1321,1322,1324,1369,1370,1372,1401,1402,1404,1433,1434,1436,1461,1462,1464,1465,1466,1468,1617,1618,1620,1625,1626,1628,1713,1714,1716,1837,1838,1840,1881,1882,1884,1889,1890,1892,1893,1894,1896,1897,1898,1900,1901,1902,1904,2101,2102,2104,2185,2186,2188,2193,2194,2196,2333,2334,2336,2377,2378,2380,2557,2558,2560,2581,2582,2584,2641,2642,2644,2653,2654,2656,2737,2738,2740,2793,2794,2796,2817,2818,2820,2865,2866,2868,2901,2902,2904,2945,2946,2948,2953,2954,2956,2985,2986,2988,3037,3038,3040,3053,3054,3056,3061,3062,3064,3065,3066,3068,3069,3070,3072,3121,3122,3124,3145,3146,3148,3173,3174,3176,3229,3230,3232,3241,3242,3244,3261,3262,3264,3285,3286,3288,3337,3338,3340,3373,3374,3376,3413,3414,3416,3425,3426,3428,3441,3442,3444,3553,3554,3556,3561,3562,3564,3613,3614,3616,3617,3618,3620,3621,3622,3624,3625,3626,3628,3833,3834,3836,3837,3838,3840,3873,3874,3876,3877,3878,3880,3893,3894,3896,4065,4066,4068,4089,4090,4092,4117,4118,4120,4201,4202,4204,4233,4234,4236,4321,4322,4324,4337,4338,4340,4353,4354,4356,4389,4390,4392,4397,4398,4400,4445,4446,4448,4449,4450,4452,4497,4498,4500,4533,4534,4536,4537,4538,4540,4545,4546,4548,4549,4550,4552,4553,4554,4556,4597,4598,4600,4601,4602,4604,4609,4610,4612,4693,4694,4696,4697,4698,4700,4705,4706,4708,4757,4758,4760,4945,4946,4948,4973,4974,4976,5089,5090,5092,5137,5138,5140,5253,5254,5256,5257,5258,5260,5341,5342,5344,5357,5358,5360,5361,5362,5364,5365,5366,5368,5473,5474,5476,5485,5486,5488,5489,5490,5492,5505,5506,5508,5509,5510,5512,5521,5522,5524,5565,5566,5568,5593,5594,5596,5609,5610,5612,5661,5662,5664,5705,5706,5708,5709,5710,5712,5713,5714,5716,5717,5718,5720,5721,5722,5724,5725,5726,5728,5729,5730,5732,5741,5742,5744,5845,5846,5848,6009,6010,6012,6041,6042,6044,6065,6066,6068,6073,6074,6076,6105,6106,6108,6117,6118,6120,6121,6122,6124,6129,6130,6132,6197,6198,6200,6301,6302,6304,6413,6414,6416,6497,6498,6500,6597,6598,6600,6601,6602,6604,6605,6606,6608,6609,6610,6612,6613,6614,6616,6617,6618,6620,6637,6638,6640,6657,6658,6660,6661,6662,6664,6669,6670,6672,6701,6702,6704,6705,6706,6708,6741,6742,6744,6753,6754,6756,6833,6834,6836,6985,6986,6988,7001,7002,7004,7181,7182,7184,7217,7218,7220,7313,7314,7316,7329,7330,7332,7349,7350,7352,7437,7438,7440,7545,7546,7548,7593,7594,7596,7649,7650,7652,7689,7690,7692,7761,7762,7764,7773,7774,7776,7817,7818,7820,7821,7822,7824,7869,7870,7872,7945,7946,7948,8061,8062,8064,8077,8078,8080,8117,8118,8120,8165,8166,8168,8173,8174,8176,8181,8182,8184,8197,8198,8200,8205,8206,8208,8217,8218,8220,8277,8278,8280,8281,8282,8284,8285,8286,8288,8301,8302,8304,8445,8446,8448,8477,8478,8480,8509,8510,8512,8541,8542,8544,8565,8566,8568,8577,8578,8580,8633,8634,8636,8697,8698,8700,8721,8722,8724,8741,8742,8744,8837,8838,8840,8881,8882,8884,8993,8994,8996,8997,8998,9000,9013,9014,9016,9017,9018,9020,9021,9022,9024,9025,9026,9028,9029,9030,9032,9033,9034,9036,9041,9042,9044,9045,9046,9048,9049,9050,9052,9053,9054,9056,9133,9134,9136,9273,9274,9276,9277,9278,9280,9281,9282,9284,9405,9406,9408,9417,9418,9420,9497,9498,9500,9570,9613,9614,9616,9649,9650,9652,9653,9654,9656,9709,9710,9712,9889,9890,9892) have mixed types. Specify dtype option on import or set low_memory=False.
  data2_df = pd.read_csv('./20240105기준회사정보2.csv',header=[0,1,2])

,상장주식수 (보통)(주),유동주식수(주),유동주식비율(%),시가총액 (티커-상장예정주식수 미포함)(백만원),상장주식수 (보통)(주),유동주식수(주),유동주식비율(%),시가총액 (티커-상장예정주식수 미포함)(백만원),상장주식수 (보통)(주),유동주식수(주),...,유동주식비율(%),시가총액 (티커-상장예정주식수 미포함)(백만원),상장주식수 (보통)(주),유동주식수(주),유동주식비율(%),시가총액 (티커-상장예정주식수 미포함)(백만원),상장주식수 (보통)(주),유동주식수(주),유동주식비율(%),시가총액 (티커-상장예정주식수 미포함)(백만원)
,A060310,A060310,A060310,A060310,A095570,A095570,A095570,A095570,A006840,A006840,...,A003280,A003280,A037440,A037440,A037440,A037440,A238490,A238490,A238490,A238490
,3S,3S,3S,3S,AJ네트웍스,AJ네트웍스,AJ네트웍스,AJ네트웍스,AK홀딩스,AK홀딩스,...,흥아해운,흥아해운,희림,희림,희림,희림,힘스,힘스,힘스,힘스
2022-01-03,"46,271,513","42,475,169",91.80,"152,696","46,822,295","14,102,592",30.12,"249,095","13,247,561","4,349,199",...,11.34,"655,158","13,922,475","9,031,465",64.87,"92,445","11,312,236","7,582,697",67.03,"113,122"
2022-01-04,"46,271,513","42,475,169",91.80,"153,390","46,822,295","14,102,592",30.12,"249,095","13,247,561","4,349,199",...,11.34,"646,743","13,922,475","9,031,465",64.87,"93,420","11,312,236","7,582,697",67.03,"114,819"
2022-01-05,"46,271,513","42,475,169",91.80,"155,472","46,822,295","14,102,592",30.12,"244,881","13,247,561","4,349,199",...,11.34,"646,743","13,922,475","9,031,465",64.87,"89,382","11,312,236","7,582,697",67.03,"113,009"
2022-01-06,"46,271,513","42,475,169",91.80,"153,159","46,822,295","14,102,592",30.12,"238,325","13,247,561","4,349,199",...,11.34,"622,700","13,922,475","9,031,465",64.87,"89,382","11,312,236","7,582,697",67.03,"111,426"
2022-01-07,"46,271,513","42,475,169",91.80,"159,868","46,822,295","14,102,592",30.12,"239,730","13,247,561","4,349,199",...,11.34,"631,115","13,922,475","9,031,465",64.87,"91,192","11,312,236","7,582,697",67.03,"113,122"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-01-01,"48,536,642","45,019,594",92.75,"119,400","45,252,759","16,174,759",35.74,"225,359","13,247,561","4,373,012",...,15.08,"601,062","13,922,475","9,982,310",71.70,"107,482","11,312,236","7,421,496",65.61,"78,394"
2024-01-02,"48,536,642","45,019,594",92.75,"155,075","45,252,759","16,174,759",35.74,"233,052","13,247,561","4,373,012",...,15.08,"597,456","13,922,475","9,982,310",71.70,"107,342","11,312,236","7,421,496",65.61,"79,299"
2024-01-03,"48,536,642","45,019,594",92.75,"157,744","45,252,759","16,174,759",35.74,"235,314","13,247,561","4,373,012",...,15.08,"602,264","13,922,475","9,982,310",71.70,"102,191","11,312,236","7,421,496",65.61,"79,186"
2024-01-04,"48,536,642","45,019,594",92.75,"158,715","45,252,759","16,174,759",35.74,"236,219","13,247,561","4,373,012",...,15.08,"782,583","13,922,475","9,982,310",71.70,"101,634","11,312,236","7,421,496",65.61,"78,394"
2024-01-05,"48,536,642","45,019,594",92.75,"160,171","45,252,759","16,174,759",35.74,"238,935","13,247,561","4,373,012",...,15.08,"685,211","13,922,475","9,982,310",71.70,"102,191","11,312,236","7,421,496",65.61,"78,733"

In [ ]:
#new_df라는 빈 리스트를 생성합니다.
new_df = []
#range() 함수를 사용하여 df3 DataFrame의 열을 4개씩 선택합니다.
for i  in range(0, len(df3.columns), 4):
#선택한 열을 가진 DataFrame을 생성하고, df라는 변수에 저장합니다.
    df= (df3.iloc[1:, i:i+4])
# reset_index() 함수를 사용하여 DataFrame의 인덱스를 초기화합니다.
    df.reset_index(inplace=True)
# astype() 함수를 사용하여 'index' 열의 데이터 타입을 문자열로 변경합니다.
    df = df.astype({'index': str})
# '종목코드' 열을 생성하고, df3 DataFrame의 첫 번째 행에서 종목코드를 가져와 저장합니다.
    df['종목코드'] = np.array([df3.iloc[0,i] for k in range(733)])
# DataFrame의 열 순서를 조정합니다.
    col1 = [df.columns[-1]]
    col2 = df.columns[:-1].to_list()
    new_cols = col1+col2
    df1 = df[new_cols]
# dropna() 함수를 사용하여 결측값이 있는 행을 제거합니다.
    df1 =df1.dropna()
# replace() 함수를 사용하여 ',' 문자를 빈 문자열로 대체합니다.
    df1 = df1.replace(',', '')
# 열 이름을 'shrtk', 'shrdate', 'listedstock', 'floatingstock', 'floatingratio', 'marketcap'으로 변경합니다.
    df1 = df1.rename(columns={df1.columns[0]: 'shrtk'})
    df1 = df1.rename(columns={df1.columns[1]: 'shrdate'})
# 'shrdate' 열의 값을 datetime 형식으로 변환합니다.
    df1['shrdate'] = df1['shrdate'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
    df1 = df1.rename(columns={df1.columns[2]: 'listedstock'})
# 'listedstock' 열의 값에서 ',' 문자를 제거하고, 문자열로 변환합니다.
    df1['listedstock'] = df1['listedstock'].str.replace(',', '')
    df1['listedstock'] = df1['listedstock'].astype(str)
# 'floatingstock' 열의 값에서 ',' 문자를 제거하고, 실수형으로 변환합니다.
    df1 = df1.rename(columns={df1.columns[3]: 'floatingstock'})
    df1['floatingstock'] = df1['floatingstock'].str.replace(',', '')
    df1['floatingstock'] = df1['floatingstock'].astype(float)
# 'floatingratio' 열의 값을 정수형으로 변환합니다.
    df1 = df1.rename(columns={df1.columns[4]: 'floatingratio'})
    df1['floatingratio'] = df1['floatingratio'].astype(int)
# 'marketcap' 열의 값에서 ',' 문자를 제거하고, 정수형으로 변환합니다.
    df1 = df1.rename(columns={df1.columns[5]: 'marketcap'})
    df1['marketcap'] = df1['marketcap'].str.replace(',', '')
    df1['marketcap'] = df1['marketcap'].astype(int)
# 마지막으로, 생성된 DataFrame을 new_df 리스트에 추가합니다.
    new_df.append(df1)

In [ ]:
# create_engine() 함수를 사용하여 MariaDB에 연결합니다.
engine = create_engine("mysql+pymysql://big17:1234@34.64.63.23:3306/tradings?charset=utf8mb4")
conn = engine.connect()
# conn.execute() 함수를 사용하여 'SHAREHOLD1' 테이블에서 최대 'shseq' 값을 조회하고, 이를 'next_shseq' 변수에 저장합니다.
result = conn.execute(text("SELECT COALESCE(MAX(S.shseq), 0) + 1 AS next_shseq FROM SHAREHOLD1 S"))
next_shseq = result.scalar()
# new_df 리스트를 순회하면서 각 DataFrame을 삽입합니다.
for i, newnew_df in enumerate(new_df):
    # print(f'{i}번째 데이터프레임을 삽입합니다.')
    new_seq = []
    for idx, row in newnew_df.iterrows():
# 각 DataFrame의 첫 번째 열에 'shseq' 값을 생성합니다.
        new_seq.append(next_shseq + idx)
    newnew_df.insert(0,'shseq', new_seq)
    next_shseq += len(newnew_df)
# 'shseq' 값을 추가한 DataFrame을 'SHAREHOLD1' 테이블에 'append' 옵션으로 삽입합니다.
# 해당 코드를 실행하면, MariaDB에 연결하여 new_df 리스트의 각 DataFrame을 'SHAREHOLD1' 테이블에 삽입합니다.
    newnew_df.to_sql('SHAREHOLD1', conn, if_exists='append', index=False)
# conn.commit() 함수를 사용하여 데이터베이스에 변경 사항을 커밋합니다.
    conn.commit()
    print(i)
# 마지막으로, 연결을 종료합니다.
conn.close()